.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 0.25fr 3fr 2fr;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  border-bottom: 1px solid #f2f2f2;
  transition: all 0.3s ease;
  max-height: 50px;
  z-index: 1000; 
}

.navbar.opaque {
  background-color: #333;
}

.navbar.shrink {
  padding: 10px;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 0 10px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #878787;
}

.logo {
  height: 32px;
  width: 32px;
  grid-column: 1;
  border: 2px solid #ffffff;
  border-radius: 50%; /* Makes the border circular */
  box-shadow: 0 0 12px #000; /* Adds a shadow around the logo */
}

.logo:hover {
  transform: scale(1.1); /* Scales the logo up when hovered over */
}

.links-container {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
}

.title-and-links {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
}

.current-title-container {
  /* Add overflow and text-overflow properties */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* Center the text */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px; /* Add some padding to create space around the text */
  margin: auto; /* Add this to center the title */
}

.current-title-container.shrink {
  /* Add background color and border radius */
  background-color: rgba(255, 255, 255, 0.5); /* Adjust color and opacity as needed */
  border-radius: 15px; /* Adjust as needed */
}