.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 0.25fr 3fr 2fr;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  border-bottom: 1px solid #f2f2f2;
  transition: all 0.3s ease;
  max-height: 50px;
  z-index: 1000; 
}

.navbar.opaque {
  background-color: #333;
}

.navbar.shrink {
  padding: 10px;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 0 10px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #878787;
}

.logo {
  height: 32px;
  width: 32px;
  grid-column: 1;
  border: 2px solid #ffffff;
  border-radius: 50%; 
  box-shadow: 0 0 12px #000; 
}

.logo:hover {
  transform: scale(1.1); 
}

.links-container {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
}

.title-and-links {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
}

.current-title-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 12px; 
  margin: auto; 
}

.current-title-container.shrink {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 15px; 
}

@media screen and (max-width: 600px) {
  .current-title-container {
    display: none;
  }
}