.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 15px;
    max-width: 35%;
    width: 100%;
    margin: 20px auto;
}

.react-player {
    border-radius: 15px;
    overflow: hidden;
}

.blog-link {
    position: absolute;
    right: 20px;
    bottom: -30px;
    background-color: #38B4E7;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: pulse 5s infinite;
    transition: transform 0.3s ease-in-out;
}

section {
    margin-bottom: 5%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}