.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 33px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 15px;
    max-width: 35%;
    width: 100%;
    margin: 20px auto;
}

.react-player {
    border-radius: 15px;
    overflow: hidden;
}

.blog-link {
    position: absolute;
    right: 20px;
    bottom: -30px;
    background-color: #38B4E7;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: pulse 5s infinite;
    transition: transform 0.3s ease-in-out;
}

section {
    margin-bottom: 5%;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.section-container {
    background-color: #333;
    color: white;
    padding: 0.01px;
    margin: 1% auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    max-width: 50%;
    font-size: 1em;
    font-weight: normal;
    padding: 0.5%;
}

.section-container a {
    color: white;
}

.title {
    text-decoration: underline;
}

#technology {
    text-align: left;
}

#technology ul {
  padding-right: 1em;
  margin: 0;
}

#technology li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

#technology li {
    list-style-type: none;
}

.bullet-header {
    font-size: 1.2em;
    font-weight: bold;
}

.bullet-text {
    font-size: 0.9em;
}