.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 7.5%;
    grid-row-gap: 30%;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

.project-panel {
    position: relative;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    display: flex;
}

.project-panel img {
    width: 100%;
    height: 100%; 
    transition: transform 0.3s ease;
}

.project-panel:hover img {
    transform: scale(1.1);
}

.project-panel-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-panel.coming-soon:hover .project-panel-hover::before {
    content: 'Details coming soon...';
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.project-panel:hover .project-panel-hover {
    opacity: 1;
}

.project-panel.coming-soon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.projects-title {
    margin-bottom: 10%;
}