@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  padding-top: 70px; 
  font-size: 21px; 
  font-weight: bold; 
  font-family: 'Exo 2', sans-serif; 
  background-color: #a0a0a0f8;
}

.small-text {
  font-size: 0.75em;
}

.App-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px; 
  font-weight: bold; 
  font-family: 'Exo 2', sans-serif; 
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-logo {
  margin-bottom: 0;
}

.App-header p {
  margin-top: 10; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: image-spin infinite 20s linear;
  }
}

.spaced-title {
  margin: 500px 0; 
}

.App-header {
  background-color: #4fa1a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}

.title {
  text-decoration: underline;
}