@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  padding-top: 70px; 
  font-size: 21px; 
  font-weight: bold; 
  font-family: 'Exo 2', sans-serif; 
  background-color: #666666f8;
}

.small-text {
  font-size: 0.75em;
}

.App-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px; 
  font-weight: bold; 
  font-family: 'Exo 2', sans-serif; 
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-logo {
  margin-bottom: 0;
}

.App-header p {
  margin-top: 10; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: image-spin infinite 20s linear;
  }
}

.spaced-title {
  margin: 500px 0; 
}

.App-header {
  background-color: #4fa1a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}

section {
  margin-bottom: 5%;
}
.section-container {
  background-color: #333;
  color: white;
  padding: 0.01px;
  margin: 1% auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  max-width: 50%;
  font-size: 1em;
  font-weight: normal;
  padding: 0.5%;
}
.section-container a {
  color: white;
}
@media screen and (max-width: 600px) {
  .section-container {
    width: 100%;
    max-width: 80%;
    margin: auto;
  }
}
.section-break-line {
  margin: 0 auto;
  width: 75%;
  height: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.title {
  text-decoration: underline;
}