@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
  font-size: 21px; 
  font-weight: bold; 
  font-family: 'Exo 2', sans-serif; 
  background-color: #4fa1a1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: image-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4fa1a1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes image-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}
