body {
    padding-bottom: 100px; 
}

#technology ul {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center; 
    padding-right: 1em;
}

li {
    cursor: pointer; 
}
#technology li {
    list-style-type: none;
    margin-bottom: 15%;
}
#technology li.last-row {
    margin-bottom: 0;
}
#technology li:last-child {
    margin-bottom: 0;
}

.bullet-container:hover .bullet-text {
    opacity: 1;
    max-height: 100px;
}
.bullet-header {
    font-size: 1.2em;
    font-weight: bold;
}
.bullet-text {
    opacity: 0;
    max-height: 0;
    overflow: visible;
    transition: opacity 0.3s ease, max-height 0.35s ease;
    margin-bottom: 10%;
}
.bullet-container:not(.inactive):hover .bullet-text {
    opacity: 1;
    max-height: 100px;
    transition-delay: 0.25s; 
}
.bullet-header::after {
    content: '▼';
    font-size: 0.5em;
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease;
}
.bullet-container:hover .bullet-header::after {
    transform: rotate(180deg);
}
@media screen and (max-width: 600px) {
    .bullet-container {
      margin-bottom: 1em; 
    }
    .bullet-text {
      position: static;
    }
}